/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=greek-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i');

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    text-align: center;
    color: white;
}

a {
    color: white;
}
    a:hover {
        color: #73c5eb;
        text-decoration: none;
    }


.navbar {
    background-color: #37517e;
    color: white;
}

header
{
    color: white;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: white;
    background-color: #1b6ec2;
    color: #fff;
}

/* Sticky footer styles
-------------------------------------------------- */

.container{
    color: white;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    color: #fff;
    font-size: 14px;
}

body {
    margin-bottom: 60px;
    background: #37517e;
    color: #fff;
    font-family: "Jost", sans-serif;
    font-weight: bold;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    background-color: #37517e;
    line-height: 60px;
}

/* JRUT */

.text-center {
    text-align: center;
}

.box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: transparent;
    border-radius: 3px;
    padding: 70px 100px;
}

th{
    color:aliceblue;
}

tr{
    color: #fff;
}

.input-container {
    position: relative;
    margin-bottom: 25px;
    color: white;
    margin-left: 38%;
}

    .input-container label {
        position: absolute;
        top: 0px;
        left: 0px;
        font-size: 16px;
        color: #4468a6;
        transition: all 0.5s ease-in-out;
    }

    .input-container input {
        border: 0;
        border-bottom: 1px solid #4468a6;
        background: transparent;
        width: 40%;
        padding: 8px 0 5px 0;
        font-size: 16px;
        color: #fff;
        text-align: center;
    }

        .input-container input:focus {
            border: none;
            outline: none;
            border-bottom: 1px solid white;
        }

::placeholder {
    color: #fff;
}

.btn {
    color: #fff;
    background-color: #4468a6;
    outline: none;
    border: 1px solid;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
}
/*.btn:after{
	content:"";
	position:absolute;
	background:rgba(0,0,0,0.50);
	top:0;
	right:0;
	width:100%;
	height:100%;
}*/
.input-container input:focus ~ label,
.input-container input:valid ~ label {
    top: -12px;
    font-size: 12px;
}


/*  
    ACCOUNT MANAGEMENT PAGE
*/

*, :after, :before {
    box-sizing: border-box
}

.clearfix:after, .clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}

a {
    color: inherit;
    text-decoration: none
}

.login-wrap {
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 670px;
    position: relative;
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.login-html {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 70px 50px 70px;
    background-color: #4468a6;
}

    .login-html .sign-in-htm,
    .login-html .sign-up-htm {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        transform: rotateY(180deg);
        backface-visibility: hidden;
        transition: all .4s linear;
    }

    .login-html .sign-in,
    .login-html .sign-up,
    .login-form .group .check {
        display: none;
    }

    .login-html .tab,
    .login-form .group .label,
    .login-form .group .button {
        text-transform: uppercase;
    }

    .login-html .tab {
        font-size: 22px;
        margin-right: 15px;
        padding-bottom: 5px;
        margin: 0 15px 10px 0;
        display: inline-block;
        border-bottom: 2px solid transparent;
    }

    .login-html .sign-in:checked + .tab,
    .login-html .sign-up:checked + .tab {
        color: #1161ee;
        border-color: #1161ee;
    }

.login-form {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

    .login-form .group {
        margin-bottom: 15px;
    }

        .login-form .group .label,
        .login-form .group .input,
        .login-form .group .button {
            width: 100%;
            color: #fff;
            display: block;
        }

        .login-form .group .input,
        .login-form .group .button {
            border: none;
            padding: 15px 20px;
            border-radius: 25px;
            background-color: whitesmoke;
            color: black;
        }

        /*.login-form .group input[data-type="password"] {
            text-security: circle;
            -webkit-text-security: circle;
        }*/

        .login-form .group .label {
            color: black;
            font-size: 12px;
        }

        .login-form .group .button {
            background: #7eadff;
        }

        .login-form .group label .icon {
            width: 15px;
            height: 15px;
            border-radius: 2px;
            position: relative;
            display: inline-block;
            background: rgba(255,255,255,.1);
        }

            .login-form .group label .icon:before,
            .login-form .group label .icon:after {
                content: '';
                width: 10px;
                height: 2px;
                background: #fff;
                position: absolute;
                transition: all .2s ease-in-out 0s;
            }

            .login-form .group label .icon:before {
                left: 3px;
                width: 5px;
                bottom: 6px;
                transform: scale(0) rotate(0);
            }

            .login-form .group label .icon:after {
                top: 6px;
                right: 0;
                transform: scale(0) rotate(0);
            }

        .login-form .group .check:checked + label {
            color: black;
        }

            .login-form .group .check:checked + label .icon {
                background: #1161ee;
            }

                .login-form .group .check:checked + label .icon:before {
                    transform: scale(1) rotate(45deg);
                }

                .login-form .group .check:checked + label .icon:after {
                    transform: scale(1) rotate(-45deg);
                }

.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm {
    transform: rotate(0);
}

.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
    transform: rotate(0);
}

.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255,255,255,.2);
}

.foot-lnk {
    text-align: center;
}

/*--------------------------------------------------------------
# home Section
--------------------------------------------------------------*/
#home {
    width: 100%;
    height: 80vh;
    background: transparent;
}

    #home .container {
        padding-top: 72px;
    }

    #home h1 {
        margin: 0 0 10px 0;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        color: #fff;
    }

    #home h2 {
        color: rgba(255, 255, 255, 0.6);
        margin-bottom: 50px;
        font-size: 24px;
    }

    #home .btn-get-started {
        font-family: "Jost", sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 10px 28px 11px 28px;
        border-radius: 50px;
        transition: 0.5s;
        margin: 10px 0 0 0;
        color: #fff;
        background: #47b2e4;
    }

        #home .btn-get-started:hover {
            background: #209dd8;
        }

    #home .btn-watch-video {
        font-size: 16px;
        display: inline-block;
        padding: 10px 0 8px 40px;
        transition: 0.5s;
        margin: 10px 0 0 25px;
        color: #fff;
        position: relative;
    }

        #home .btn-watch-video i {
            color: #fff;
            font-size: 32px;
            position: absolute;
            left: 0;
            top: 7px;
            transition: 0.3s;
        }

        #home .btn-watch-video:hover i {
            color: #47b2e4;
        }

    #home .animated {
        animation: up-down 2s ease-in-out infinite alternate-reverse both;
    }

@media (max-width: 991px) {
    #home {
        height: 100vh;
        text-align: center;
    }

        #home .animated {
            -webkit-animation: none;
            animation: none;
        }

        #home .home-img {
            text-align: center;
        }

            #home .home-img img {
                width: 50%;
            }
}

@media (max-width: 768px) {
    #home h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #home h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    #home .home-img img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    #home .home-img img {
        width: 80%;
    }

    #home .btn-get-started {
        font-size: 16px;
        padding: 10px 24px 11px 24px;
    }

    #home .btn-watch-video {
        font-size: 16px;
        padding: 10px 0 8px 40px;
        margin-left: 20px;
    }

        #home .btn-watch-video i {
            font-size: 32px;
            top: 7px;
        }
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}