@{
    ViewData["Title"] = "Add Ticker";
}
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Add ticker</h1>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <b>TICKER</b>
            </th>
            <th>
                PRICE
            </th>
            <th>
                VOLUME
            </th>
            <th>
                AVERAGE VOL.
            </th>
            <th>
                MARKET CAP
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="text" name="Ticker" value="" />
            </td>
            <td>
                <input type="text" name="Price" value="" />
            </td>
            <td>
                <input type="text" name="Volume" value="" />
            </td>
            <td>
                <input type="text" name="AverageVol" value="" />
            </td>
            <td>
                <input type="text" name="MarketCap" value="" />
            </td>
        </tr>
    </tbody>
</table>
<button class="btn">Search</button>