@{
    ViewData["Title"] = "Favorites";
    List<string> favorites = (List<string>)ViewData["FavoriteListAccount"];
}


<br />
<body>
    <div class="container-fluid shadow p-3 mb-5 rounded">

        <div class="text-center">
            <h1 class="display-4">S&P 500</h1>
        </div>


        <p>
            <div class="input-container">
                <input type="text" id="SearchStock" placeholder="Search Stock" onkeyup="search()">
            </div>
        </p>

        <table class="table table-striped shadow p-3 mb-5 rounded" id="StockTable">
            <thead>
                <tr>
                    <th>
                        SYMBOL
                    </th>
                    <th>
                        VIEW DETAILS
                    </th>


                </tr>
            </thead>
            <tbody>
                @foreach (var favorite in favorites)
                {
                <tr id="SearchItem">
                    <td style="color:dodgerblue">
                        @favorite
                    </td>

                    @*<td>
                        <a asp-action="RemoveFavorite" id="RemoveButton" class="btn">Remove</a>
                    </td>*@
                <td>
                    @Html.ActionLink("Details", "LoadStock", "Stock", new { ticker = favorite }, new { @class = "btn" })
                </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</body>