@{
    ViewData["Title"] = "Stocks";
    var stocks = (StockModel.StockArray[])ViewData["StockList"];
}
@model StonkView.Models.StockModel


<br />
<body>
    <div class="container-fluid shadow p-3 mb-5 rounded">

        <div class="text-center">
            <h1 class="display-4">S&P 500</h1>
        </div>


        <p>
            <div class="input-container">
                <input type="text" id="SearchStock" placeholder="Search Stock" onkeyup="search()">
            </div>
        </p>

        <table class="table table-striped shadow p-3 mb-5 rounded" id="StockTable">
            <thead>
                <tr>
                    <th>
                        SYMBOL
                    </th>
                    <th>
                        NAME
                    </th>
                    <th>
                        SECTOR
                    </th>

                    <th>EDIT</th>
                </tr>
            </thead>
            <tbody>
                @foreach (StockModel.StockArray stock in stocks)
                {
                    <tr id="SearchItem">
                        <td style="color:dodgerblue">
                            @Html.DisplayFor(modelItem => stock.Symbol)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => stock.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => stock.Sector)
                        </td>
                        <td>
                            <a asp-action="StockDetails" id="DetailsButton" class="btn">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>